/**/*.pyc
.DS_STORE
Injector.exe
dMetinWx.dll
file.pyc
file.py
/skills
/scripts
/OpenBot/Modules/MiningBot.py
/OpenBot/Modules/Filter.py
*.pdb
MetinWx.dll
Log.txt
.vscode
deXLib.dll
.idea
settings.xml
PatternScanner.dll
*.xml
Tracef.txt
Tracenf.txt
settings.xml
